<launch>
<!-- new 2/27/21: nodes to assist in visual-servo cam calib data acq /-->
 <node pkg="test_moves" type="l515_move_service" name="l515_move_service" />
 <node pkg="rbip_calibration" type="find_poster_in_lidar_image_10x7_service" name="find_poster_in_lidar_image_10x7_service" />
 <node pkg="rbip_calibration" type="find_poster_in_camera_image_10x7_service" name="find_poster_in_camera_image_10x7_service" />
 <node pkg="pcl_utils" type="make_image_from_cloud_service" name="make_image_from_cloud_service" />
</launch>
